.head {
    /* background-image: url(img\1.png);*/
    background: url(../img/1.png) no-repeat 0 0;
    /* background-image: url(img\1.png); */
    height: 200px;
    display: flex;
    /* 垂直排列 */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #CCCCCC;
    font-size: 20px;
    /* 字体加粗 */
    font-weight: bold;
}

.head img {
    height: 50px;
}

form {
    display: flex;
    /* 元素垂直排列 */
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

form input {
    /* 输入框边框设置为无 */
    border: none;
    width: 100%;
    /* 给输入框底部设置边框线，参数为1px的实线 */
    border-bottom: 1px solid #CCCCCC;
    line-height: 50px;
    outline: none;
}

form input::-webkit-input-placeholder {
    color: #CCCCCC;
}

form a {
    /* 取消超链接的下划线 */
    text-decoration: none;
    color: #CCCCCC;
    margin-top: 20px;
}

button {
    width: 100%;
    line-height: 50px;
    color: #fff;
    background-color: #11D183;
    text-align: center;
    /* 上边距20px */
    margin-top: 20px;
    /* 圆角边框5px */
    border-radius: 5px;
    border: none;
    outline: none;
}